<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="傑偲單據修改紀錄查詢.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <傑偲單據修改紀錄查詢.Properties.Settings>
            <setting name="OpenSQL" serializeAs="String">
                <value>server=ERP;database=EW;uid=JSIS;pwd=JSIS</value>
            </setting>
        </傑偲單據修改紀錄查詢.Properties.Settings>
    </userSettings>
</configuration>